.modal{z-index:20000!important}

body {
font-family:'Cabin'!important;
background:#e3e2e2!important
}

.header, header {
    background: #49E7D3!important;
    /*border-bottom: 1px dotted #000;*/
}

.logo,logo {
    background: url(../logotype.svg) no-repeat no-repeat 3px 5px;
    background-size: 220px;
    text-indent: 49px;
    min-width: 225px;
}

::selection {
    background: #613000!important;
    color: #00964a!important;
}

.h0, h0 {
    color: #00964a!important;
}

.h1, h1 {
    color: #00964a!important;
}

.navmenu {
    color: #00964a!important;
}
.navmenu ul > li:hover {
    background: #00964a!important;
}

ul.tabs{border-bottom:1px solid #00964a}
ul.tabs li a:active{color:#00964a80;border-bottom:4px solid #00964a80}
ul.tabs li.current a{color:#00964a;border-bottom:4px solid #00964a}

button.color{background:#00964a;color:#fff;font-weight:bold;padding:10px;font-size:16px}
button.color:hover{background:#fff;color:#00964a}

.btn-primary {
    background-color:#00964a!important;
}

.footer,footer{background:#00964a}
